:root {
  --yellow: #F4D04E;
  --white: #FFF;
  --gray-950: #111111;
  --gray-500: #6B6B6B;
  /* numerical font-weights acdg to ai */
  --extra-bold: 800;
  --medium: 500;
  --spacing-300: 24px;
  --spacing-150: 12px;
  --spacing-100: 8px;
  --spacing-50: 4px;
}

body, h1 {
  margin: 0;
  padding: 0;
}

body {
  background: #f5d04e;

  /* default color of font/typeface */
  font-family: Figtree, sans-serif;
  font-weight: var(--medium);
  line-height: 150%;
  letter-spacing: 0px;
  color: var(--gray-950);

  /* center content */
  display: flex;
  justify-content: center;
  align-items:center;
  min-height: 100vh;

  padding: 24px;

  h1 {
    font-size: clamp(20px, 4.8vw, 24px);
    font-weight: var(--extra-bold);
  }

  .summary{
    font-size: clamp(14px, 3.2vw, 16px);
    font-weight: var(--medium);
    color: var(--gray-500);
  }

  .published-date{
    font-size: clamp(12px, 2.8vw ,14px);
    font-weight: var(--medium);
  }

  .author{
    font-size: 14px;
    font-weight: var(--extra-bold);

    display: flex;
    align-items: center;
    gap: 8px;

    .author-avatar {
      aspect-ratio: 1;
      height: 32px;
    }
  }

  .card {
    --card-padding: 24px;
    --card-radius: 20px;

    background: #fff;
    box-shadow: 8px 8px var(--gray-950);
    border: 1px solid var(--gray-950);
    border-radius: var(--card-radius);

    display: flex;
    flex-direction: column;
    align-items: flex-start;

    padding: var(--card-padding);
    gap: var(--card-padding);

    width: 100%;
    /* todo Q: why do I have to account for --card-padding again? why isn't this automatic? */
    /* 382 by 520 but offset by --card-padding */
    max-width: calc(382px - var(--card-padding) * 2);

    /* card starts shrinking in height from */
    /* 520 -> 500 when viewport width is 500 */
    --card-height: clamp(500px, 104vw, 520px);
    /* todo Q: why do I have to account for --card-padding again? why isn't this automatic? */
    height: calc(var(--card-height) - var(--card-padding) * 2);

    > img.illustration {
      width: 100%;
      height: 200px;
      border-radius: calc(var(--card-radius) / 2);
      object-fit: cover;
    }

    > .content {
      flex: auto;

      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }

    &:hover h1 {
      color: #f5d04e;
    }

    .tag {
      font-size: clamp(12px, 2.8vw ,14px);
      font-weight: var(--extra-bold);
      color: var(--gray-950);

      background: #f2c83e;
      border-radius: 4px;

      width: clamp(72px, 16.4vw, 82px);
      height: clamp(26px, 6vw, 30px);

      text-align: center;
      align-content: center;
    }
  }
}
